
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-stone-900 overflow-x-hidden;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
}
